body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: #C0C0C0;
}

a {
  color: #0040FF;
}

.itemIcon {
  max-height: 30px;
}

.thumbnail {
  max-height: 50px;
  margin-top: -15px;
  background-color: transparent;
  border-color: transparent;
  display: inline;
}
