<nav class="navbar navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="navbar-brand">Raids</li>
            <li class="navbar-brand">|</li>
            <li ng-class="raid === selectedRaid ? 'active' : ''" ng-repeat="raid in raids">
                <a href="#" ng-click="selectRaid(raid)">
                    {{enums.instances.fromDB[raid.name]}}
                </a>
            </li>
        </ul>
    </div>
</nav>

<nav ng-if="selectedRaid" class="navbar navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="navbar-brand">Bosses</li>
            <li class="navbar-brand">|</li>
            <li ng-repeat="boss in bosses" ng-class="boss === selectedBoss ? 'active' : ''">
                <a href="#" ng-click="selectBoss(boss)">
                    {{boss.name}}
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="row">
    <h2 ng-if="!selectedRaid">Select a raid above...</h2>
    <h2 ng-if="selectedRaid && !selectedBoss">Select a boss above</h2>
    <h2 ng-if="selectedRaid && selectedBoss">{{enums.instances.fromDB[selectedRaid.name]}}: {{selectedBoss.name}}</h2>
    <hr>
</div>

<div class="row">
    <div class="col-sx-3 col-sm-3 col-md-3 col-lg-3">
        <div class="row" ng-repeat="item in selectedBoss.loot"ng-repeat="item in SelectedBoss.loot trackBy $index">
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                    <a class="" href="https://classic.wowhead.com/item={{item.itemId}}" target="_blank">
                        <img class="itemIcon" ng-src="{{item.iconUrl}}"><b ng-class="'q'+item.quality">{{item.name}}</b>
                    </a>
            </div>
        </div>
    </div>
    <div class="col-sx-9 col-sm-9 col-md-9 col-lg-9">
        <textarea style="width: 100%; min-height: 100rem; background-color: black;">{{body}}</textarea>
    </div>
</div>
