<nav class="navbar navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="navbar-brand">Raids</li>
            <li class="navbar-brand">|</li>
            <li ng-class="raid === selectedRaid ? 'active' : ''" ng-repeat="raid in raids">
                <a href="#" ng-click="selectRaid(raid)">
                    {{enums.instances.fromDB[raid.name]}}
                </a>
            </li>
        </ul>
    </div>
</nav>

<nav ng-if="selectedRaid" class="navbar navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="navbar-brand">Bosses</li>
            <li class="navbar-brand">|</li>
            <li ng-repeat="boss in bosses" ng-class="boss === selectedBoss ? 'active' : ''">
                <a href="#" ng-click="selectBoss(boss)">
                    {{boss.name}}
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="col-sm-6">
        <h2 ng-if="!selectedRaid">Select a raid above...</h2>
        <h2 ng-if="selectedRaid && !selectedBoss">Select a boss above</h2>
        <h2 ng-if="selectedRaid && selectedBoss">{{enums.instances.fromDB[selectedRaid.name]}}: {{selectedBoss.name}}</h2>
    </div>
    <div class="col-sm-offset-5 col-sm-1">
        <button class="btn btn-warning" ng-click="refreshBossLoot()">Refresh All Loot</button>
    </div>

</div>
<hr>
 <div class="row" ng-repeat="item in selectedBoss.loot" ng-class-odd="'stripeList'">
    <div class="col-sm-3">
        <a class="" href="https://classic.wowhead.com/item={{item.itemId}}" target="_blank">
            <img class="itemIcon" ng-src="{{item.iconUrl}}"><b ng-class="'q'+item.quality">{{item.name}}</b>
        </a>
    </div>
    <div class="col-sm-1">
        <button class="btn" ng-class="lootList.includes(item) ? 'btn-danger' : 'btn-warning'" ng-click="refreshItem(item, $index)">
            <i class="fas fa-sync"></i>
        </button>
    </div>
     <div class="col-sm-1">
         {{ item.slot }}
     </div>
     <div class="col-sm-1">
         {{ calculateGP(item.gpBase, settings.gpMultiplier[item.slot]) }}
     </div>
</div>
